.App {
  text-align: center;
}

.nyan {
  height: 40px;
}

.headers {
  background-color: rgb(39, 39, 39);
  color: aliceblue;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(230, 228, 228);
  border-radius: 5px;
}

td {
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  table {
    width: 100%;
  }

  td {
    max-width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
